:root {
    --color-interface: rgb(240, 240, 240);
    --color-resizeBox: rgb(241, 235, 227);
    --color-text-main: rgb(45, 45, 45);
    --color-text-main__hover: rgb(65, 65, 65);
    --color-text-second: rgb(231, 225, 217);
    --color-text-second__hover: rgb(211, 205, 197);
    --color-active: rgb(239, 168, 33);
    --color-active__hover: rgb(211, 19, 53);

    --hover-delay-midle: 0.5s;
}

* {
    margin: 0;
    padding: 0;
}

.resize-module {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.resize-module_disable {
    display: none;
}

.resize-module-background {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: var(--color-text-main);
}

.resize-module-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: min(calc(100vw - 20px), 900px);
    max-height: calc(100vh - 20px);
    border-radius: 8px;
    background-color: var(--color-resizeBox);
}

.resize-module-container__header {
    margin-left: 136px;
    width: calc(100% - 136px);
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-main);
}
.resize-module-container__header-text {
    font-size: 20px;
    margin: 16px;
}
.resize-module-container__close-button {
    height: 60px;
    width: 60px;
    background: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3e%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='512px' height='512px' style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg%3e%3cpath style='opacity:0.989' fill='%23858589' d='M 85.5,72.5 C 91.6383,71.7321 97.305,72.8988 102.5,76C 153.347,127.014 204.347,177.847 255.5,228.5C 306.653,177.847 357.653,127.014 408.5,76C 418.878,70.2151 428.044,71.7151 436,80.5C 439.583,88.0617 439.25,95.395 435,102.5C 383.986,153.347 333.153,204.347 282.5,255.5C 333.153,306.653 383.986,357.653 435,408.5C 442.036,421.725 438.869,431.558 425.5,438C 419.369,439.266 413.702,438.266 408.5,435C 357.653,383.986 306.653,333.153 255.5,282.5C 204.347,333.153 153.347,383.986 102.5,435C 92.1222,440.785 82.9555,439.285 75,430.5C 71.4167,422.938 71.75,415.605 76,408.5C 127.014,357.653 177.847,306.653 228.5,255.5C 177.847,204.347 127.014,153.347 76,102.5C 69.0616,89.1523 72.2283,79.1523 85.5,72.5 Z'/%3e%3c/g%3e%3c/svg%3e ") no-repeat center center / 50%;
}
.resize-module-container__close-button:hover {
    background-size: 65%;
}
.resize-module-container__body {
    display: none;
    flex-direction: column;
    min-width: 664px;
    max-width: 100%;
    max-height: calc(100vh - 236px);
    height: 100%;
    padding: 0;
    margin: 0;
    border-top: 2px solid var(--color-text-second__hover);
    border-bottom: 2px solid var(--color-text-second__hover);
    color: var(--color-text-main);
}
.resize-module-container__body_type_wheel {
    align-items: center;
}
.resize-module-container__body_type_arrows {
    align-items: center;
}
.resize-module-container__body_type_area {
    align-items: flex-start;
}
.resize-module-container__body-text {
    width: calc(100% - 12px);
    text-align: center;
    color: var(--color-text-main__hover);
    font-size: 16px;
    margin: 6px;
    align-self: center;
}
.resize-module-container__body-paragraph {
    width: calc(100% - 12px);
    text-align: center;
    color: var(--color-text-main__hover);
    font-size: 14px;
    margin: 6px;
    align-self: center;
}

.resize-module-container__body-box {
    position: relative;
}
.resize-module-container__body-box_type_area {
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.resize-module-container__body-box_type_area::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
.resize-module-container__body-box_type_area::-webkit-scrollbar-corner {
    background: var(--color-text-second__hover);
    background-clip: padding-box;
}
.resize-module-container__body-box_type_area::-webkit-scrollbar-track:vertical {
    background: var(--color-text-second__hover);
    border-radius: 15px 0 0 0;
}
.resize-module-container__body-box_type_area::-webkit-scrollbar-track:horizontal {
    background: var(--color-text-second__hover);
    border-radius: 15px 0 0 0;
}
.resize-module-container__body-box_type_area::-webkit-scrollbar-thumb:vertical {
    background: var(--color-resizeBox);
    border-radius: 15px 0 15px 0;
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
    background-clip: padding-box;
}
.resize-module-container__body-box_type_area::-webkit-scrollbar-thumb:horizontal {
    background: var(--color-resizeBox);
    border-radius: 15px 0 15px 0;
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
    background-clip: padding-box;
}
.resize-module-container__background-box {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.resize-module-container__background {
    position: absolute;
    background: rgba(211, 205, 197, 0.3);
}
.resize-module-container__background_pos_t {
    top: 0;
    left: 0;
    right: 0;
}
.resize-module-container__background_pos_b {
    bottom: 0;
    left: 0;
    right: 0;
}
.resize-module-container__background_pos_l {
    left: 0;
}
.resize-module-container__background_pos_r {
    right: 0;
}
.resize-module-container__body-file {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.resize-module-container__body-image {
    position: relative;
    background-position: center;
    margin: 14px;

}
.resize-module-container__body-image-area {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 0.5px solid var(--color-text-main__hover);
}

.scale-cube {
    position: absolute;
    width: 24px;
    height: 24px;
    background: rgba(231, 225, 217, 0.8);
    border: 0.5px solid var(--color-text-main__hover);
    transition: var(--hover-delay-midle);
}

.scale-cube:hover {
    background: rgba(231, 225, 217, 0.2);
}
.scale-cube:active {
    background: rgba(231, 225, 217, 0.2);
}

.scale-cube_pos_tl {
    left: -12px;
    top: -12px;
}

.scale-cube_pos_tr {
    right: -12px;
    top: -12px;
}

.scale-cube_pos_bl {
    left: -12px;
    bottom: -12px;
}

.scale-cube_pos_br {
    right: -12px;
    bottom: -12px;
}

.resize-module-container__file_place-back {
    position: absolute;
    opacity: 0.2;
}

.resize-module-container__circle-box {
    position: relative;
    width: 500px;
    max-width: calc(100vh - 236px);
    height: 500px;
    max-height: calc(100vh - 236px);
    border-radius: 50%;
    overflow: hidden;
    pointer-events: none;
}

.resize-module-container__file_place-front {
    position: absolute;
}

.resize-module-container__footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.resize-module-container__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    border-radius: 8px;
    transition: background var(--hover-delay-midle);
    box-shadow: 1px 1px 3px -2px black;
}
.resize-module-container__button_type-confirm {
    width: 220px;
    background: var(--color-active);
    color: white;
    margin: 8px;
}
.resize-module-container__button_type-confirm:hover {
    background: var(--color-active__hover);
}
.resize-module-container__button_type-deny {
    width: 180px;
    background: var(--color-text-second);
    color: var(--color-text-main);
    margin: 8px;
}
.resize-module-container__button_type-deny:hover {
    background: var(--color-text-second__hover);
}

.resize-module-container__zoom-arrows {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.resize-module-container__zoom-button {
    width: 8%;
    height: 8%;
    max-width: 32px;
    max-height: 32px;
    margin: 8px;
    position: absolute;
    background: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' standalone='no'?%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3e%3csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='256.000000pt' height='256.000000pt' viewBox='0 0 256.000000 256.000000' preserveAspectRatio='xMidYMid meet'%3e%3cg transform='translate(0.000000,256.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3e%3cpath d='M210 2495 l-55 -55 573 -573 c314 -314 572 -579 572 -587 0 -8 -258 -273 -572 -587 l-573 -573 60 -60 60 -60 640 640 640 640 -635 635 c-349 349 -640 635 -645 635 -6 0 -35 -25 -65 -55z'/%3e%3cpath d='M1060 2495 l-55 -55 580 -580 580 -580 -580 -580 -580 -580 55 -55 c30 -30 59 -55 65 -55 5 0 296 286 645 635 l635 635 -635 635 c-349 349 -640 635 -645 635 -6 0 -35 -25 -65 -55z'/%3e%3c/g%3e%3c/svg%3e ") no-repeat center center / cover;
    cursor: nwse-resize;
    transition: background var(--hover-delay-midle);
    pointer-events: all;
}
.resize-module-container__zoom-arrows:hover > div {
    background: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' standalone='no'?%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3e%3csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='256.000000pt' height='256.000000pt' viewBox='0 0 256.000000 256.000000' preserveAspectRatio='xMidYMid meet'%3e%3cg transform='translate(0.000000,256.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3e%3cpath d='M205 2500 l-60 -60 580 -580 580 -580 -580 -580 -580 -580 60 -60 c33 -33 64 -60 70 -60 16 0 1275 1263 1275 1280 0 17 -1259 1280 -1275 1280 -6 0 -37 -27 -70 -60z'/%3e%3cpath d='M1067 2502 c-31 -32 -57 -62 -57 -67 0 -6 258 -268 572 -582 l573 -573 -573 -573 c-314 -314 -572 -577 -572 -582 0 -6 27 -37 60 -70 l60 -60 643 643 642 642 -640 640 c-352 352 -642 640 -645 640 -3 0 -31 -26 -63 -58z'/%3e%3c/g%3e%3c/svg%3e ") no-repeat center center / cover;
}
.resize-module-container__zoom-arrows:active > div {
    background: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' standalone='no'?%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3e%3csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='256.000000pt' height='256.000000pt' viewBox='0 0 256.000000 256.000000' preserveAspectRatio='xMidYMid meet'%3e%3cg transform='translate(0.000000,256.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3e%3cpath d='M205 2500 l-60 -60 580 -580 580 -580 -580 -580 -580 -580 60 -60 c33 -33 64 -60 70 -60 16 0 1275 1263 1275 1280 0 17 -1259 1280 -1275 1280 -6 0 -37 -27 -70 -60z'/%3e%3cpath d='M1067 2502 c-31 -32 -57 -62 -57 -67 0 -6 258 -268 572 -582 l573 -573 -573 -573 c-314 -314 -572 -577 -572 -582 0 -6 27 -37 60 -70 l60 -60 643 643 642 642 -640 640 c-352 352 -642 640 -645 640 -3 0 -31 -26 -63 -58z'/%3e%3c/g%3e%3c/svg%3e ") no-repeat center center / cover;
}

.resize-module-container__zoom-button_place_top {
    left: 2%;
    top: 2%;
    transform: rotate(225deg);
}
.resize-module-container__zoom-button_place_top:hover + .resize-module-container__zoom-button_place_bottom{
    background: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' standalone='no'?%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3e%3csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='256.000000pt' height='256.000000pt' viewBox='0 0 256.000000 256.000000' preserveAspectRatio='xMidYMid meet'%3e%3cg transform='translate(0.000000,256.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3e%3cpath d='M205 2500 l-60 -60 580 -580 580 -580 -580 -580 -580 -580 60 -60 c33 -33 64 -60 70 -60 16 0 1275 1263 1275 1280 0 17 -1259 1280 -1275 1280 -6 0 -37 -27 -70 -60z'/%3e%3cpath d='M1067 2502 c-31 -32 -57 -62 -57 -67 0 -6 258 -268 572 -582 l573 -573 -573 -573 c-314 -314 -572 -577 -572 -582 0 -6 27 -37 60 -70 l60 -60 643 643 642 642 -640 640 c-352 352 -642 640 -645 640 -3 0 -31 -26 -63 -58z'/%3e%3c/g%3e%3c/svg%3e ") no-repeat center center / cover;
}

.resize-module-container__zoom-button_place_bottom {
    right: 2%;
    bottom: 2%;
    transform: rotate(45deg);
}
.resize-module-container__zoom-button_place_bottom:hover + .resize-module-container__zoom-button_place_top{
    background: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' standalone='no'?%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3e%3csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='256.000000pt' height='256.000000pt' viewBox='0 0 256.000000 256.000000' preserveAspectRatio='xMidYMid meet'%3e%3cg transform='translate(0.000000,256.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3e%3cpath d='M205 2500 l-60 -60 580 -580 580 -580 -580 -580 -580 -580 60 -60 c33 -33 64 -60 70 -60 16 0 1275 1263 1275 1280 0 17 -1259 1280 -1275 1280 -6 0 -37 -27 -70 -60z'/%3e%3cpath d='M1067 2502 c-31 -32 -57 -62 -57 -67 0 -6 258 -268 572 -582 l573 -573 -573 -573 c-314 -314 -572 -577 -572 -582 0 -6 27 -37 60 -70 l60 -60 643 643 642 642 -640 640 c-352 352 -642 640 -645 640 -3 0 -31 -26 -63 -58z'/%3e%3c/g%3e%3c/svg%3e ") no-repeat center center / cover;
}

.zoom-variant-container {
    position: absolute;
    height: 36px;
    width: 112px;
    top: 26px;
    left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid var(--color-text-second__hover);
    border-radius: 4px;
    background: var(--color-resizeBox);
    z-index: 5
}
.zoom-variant-item {
    width: 26px;
    height: 26px;
    border: 1px solid transparent;
    transition: var(--hover-delay-midle);
}

.zoom-variant-item:hover {
    border: 1px solid black;
}

.zoom-variant-item_type_wheel {
    background: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' standalone='no'?%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3e%3csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='1600.000000pt' height='1600.000000pt' viewBox='0 0 1600.000000 1600.000000' preserveAspectRatio='xMidYMid meet'%3e%3cg transform='translate(0.000000,1600.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3e%3cpath d='M7750 15994 c-270 -19 -372 -28 -499 -44 -1580 -207 -2996 -1055 -3932 -2356 -559 -777 -914 -1685 -1033 -2639 -41 -329 -41 -314 -41 -2955 0 -2641 0 -2626 41 -2955 198 -1591 1050 -3024 2358 -3965 853 -613 1823 -968 2901 -1062 180 -15 741 -15 915 0 999 91 1870 388 2684 917 657 426 1256 1025 1682 1681 473 729 775 1547 884 2394 46 358 45 297 45 2990 0 2693 1 2632 -45 2990 -109 847 -411 1665 -884 2394 -426 656 -1025 1255 -1682 1681 -811 527 -1695 829 -2674 915 -121 11 -626 21 -720 14z m550 -644 c1070 -68 2050 -442 2880 -1099 290 -229 602 -542 831 -831 657 -830 1030 -1805 1099 -2874 6 -92 10 -595 10 -1193 l0 -1033 -5120 0 -5120 0 0 1014 c0 574 4 1091 10 1192 73 1257 586 2415 1463 3303 351 354 686 613 1117 861 838 483 1860 721 2830 660z m4820 -8703 c0 -1024 -5 -1217 -36 -1482 -123 -1043 -549 -1999 -1244 -2790 -110 -125 -365 -378 -485 -482 -1013 -876 -2324 -1322 -3648 -1243 -1162 70 -2237 513 -3097 1276 -1030 914 -1640 2172 -1720 3548 -6 101 -10 618 -10 1192 l0 1014 5120 0 5120 0 0 -1033z'/%3e%3cpath d='M7925 14391 c-86 -22 -115 -49 -787 -720 -763 -762 -732 -725 -732 -871 0 -127 63 -228 179 -288 41 -21 65 -26 130 -26 141 -2 143 0 583 438 l382 380 0 -1464 0 -1464 -383 381 c-436 435 -439 437 -577 437 -127 0 -228 -63 -288 -179 -21 -41 -26 -65 -26 -130 -2 -148 -33 -110 728 -872 757 -758 720 -727 866 -727 146 0 109 -31 867 727 758 758 727 721 727 867 0 127 -63 228 -179 288 -41 21 -65 26 -130 26 -141 2 -143 0 -582 -438 l-383 -380 0 1464 0 1464 383 -381 c436 -435 439 -437 577 -437 127 0 228 63 288 179 21 41 26 65 26 130 2 148 33 110 -728 872 -737 737 -718 721 -844 728 -37 2 -80 1 -97 -4z'/%3e%3c/g%3e%3c/svg%3e ") no-repeat center center / 80%;
}

.zoom-variant-item_type_arrows {
    background: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' standalone='no'?%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3e%3csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='178.000000pt' height='178.000000pt' viewBox='0 0 178.000000 178.000000' preserveAspectRatio='xMidYMid meet'%3e%3cg transform='translate(0.000000,178.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3e%3cpath d='M71 1769 c-48 -19 -50 -31 -51 -242 0 -197 0 -198 25 -222 30 -31 73 -32 109 -4 26 20 26 21 26 165 l0 144 139 0 c125 0 141 2 165 21 32 26 36 84 7 120 -19 24 -23 24 -208 26 -107 1 -198 -2 -212 -8z'/%3e%3cpath d='M270 895 l0 -635 630 0 630 0 0 635 0 635 -630 0 -630 0 0 -635z m1100 -5 l0 -470 -470 0 -470 0 0 470 0 470 470 0 470 0 0 -470z'/%3e%3cpath d='M1647 488 c-29 -22 -37 -66 -37 -194 l0 -124 -136 0 c-74 0 -144 -4 -154 -10 -43 -23 -43 -117 0 -140 11 -6 106 -10 215 -10 263 0 245 -18 245 243 0 181 -1 196 -21 221 -16 20 -29 26 -58 26 -20 0 -45 -6 -54 -12z'/%3e%3c/g%3e%3c/svg%3e ") no-repeat center center / 80%;
}

.zoom-variant-item_type_area {
    background: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' standalone='no'?%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3e%3csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='142.000000pt' height='123.000000pt' viewBox='0 0 142.000000 123.000000' preserveAspectRatio='xMidYMid meet'%3e%3cg transform='translate(0.000000,123.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3e%3cpath d='M30 1090 l0 -130 40 0 40 0 0 -345 0 -345 -40 0 -40 0 0 -135 0 -135 125 0 125 0 0 50 0 50 430 0 430 0 0 -50 0 -50 135 0 135 0 0 135 0 135 -45 0 -45 0 0 345 0 345 45 0 45 0 0 130 0 130 -135 0 -135 0 0 -45 0 -45 -430 0 -430 0 0 45 0 45 -125 0 -125 0 0 -130z m160 -5 l0 -45 -40 0 -40 0 0 45 0 45 40 0 40 0 0 -45z m1130 -1 l0 -45 -47 3 -48 3 -3 43 -3 42 50 0 51 0 0 -46z m-180 -84 l0 -40 40 0 40 0 0 -345 0 -345 -40 0 -40 0 0 -45 0 -45 -430 0 -430 0 0 45 0 45 -45 0 -45 0 2 343 3 342 43 3 c42 3 42 3 42 43 l0 39 430 0 430 0 0 -40z m-950 -860 l0 -40 -40 0 -40 0 0 40 0 40 40 0 40 0 0 -40z m1130 0 l0 -40 -50 0 -50 0 0 33 c0 43 5 47 57 47 l43 0 0 -40z'/%3e%3c/g%3e%3c/svg%3e ") no-repeat center center / 80%;
}

.canvas_crop {
    display: none;
}
@media (max-width: 720px){
    .zoom-variant-container {
        display: none;
    }
    .resize-module-container {
        width: 100%;
        height: 100%;
        max-width: 100vw;
        max-height: 100vh;
        border-radius: 0;
    }
    .resize-module-container__header {
        margin-left: 0;
        width: 100%;
        height: 46px;
    }
    .resize-module-container__header-text {
        font-size: 18px;
    }
    .resize-module-container__body {
        padding: 0 0 0 0;
        min-width: 0;
        border-top: 0 solid transparent;
        border-right: 2px solid var(--color-text-second__hover);
        border-bottom: 2px solid var(--color-text-second__hover);
        box-shadow: -1px -1px 5px -1px var(--color-text-second__hover);
    }
    .resize-module-container__footer {
        flex-direction: column;
        width: 100%;
    }
    .resize-module-container__button {
        font-size: 18px;
        width: calc(100% - 12px);
        height: 42px;
    }
    .resize-module-container__body-text {
        margin: -26px 0 0 0;
        height: 12px;
    }
    .resize-module-container__body-paragraph {
        margin: 0;
        height: 12px;
    }
    .resize-module-container__button_type-confirm {
        margin: 0;
    }
}
